{
  "presets": [["poi", { "jsx": "vue" }], ["@babel/preset-env"]],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
