{
  "presets": [["poi", { "jsx": "vue" }]],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
